@import '_func';

.cmn-eyecatch {
  padding-top: 135px;

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    h2 {
      font-size: 2.5rem;
      padding-top: 30px;
      padding-bottom: 50px;
    }

    p {
      padding-bottom: 50px;
    }
  }
}

.events_icon {
  margin-bottom: 10px;

  .event_icon_wrap {
    padding: 3px 10px;
    border: 1px solid #000;
    display: inline-block;
    font-size: 14px;
  }

  .event_new {
    background: #e60012;
    border: 1px solid #e60012;
    color: #fff;
  }
}

@media (min-width: 476px) {
  section.cmn-eyecatch {
    padding-top: 230px;
  }

  .wrapper-thanks {
    h2 {
      font-size: 2.5rem;
    }

    strong {
      line-height: 3;
    }
  }
}

@media (max-width: 475px) {
  section.cmn-eyecatch {
    padding-top: 140px;
  }

  .cmn-eyecatch__ttl {
    font-size: 3.2rem;
  }

  .wrapper-thanks h2 {
    padding-top: 6rem;
  }

  .wrapper-thanks strong+strong {
    margin-top: 1em;
  }

  .wrapper-thanks strong {
    display: block;
  }

  .wrapper-contact-info {
    padding: 20px;
  }

  .wrapper-contact-info-div table td,
  .wrapper-contact-info-div td:first-child {
    display: block;
    width: 100%;
  }

  .wrapper-contact-info-div td {
    padding: 2rem 0;
  }

  .wrapper-contact-info-div tr td:first-child {
    padding-bottom: 1.25rem;
  }

  .wrapper-contact-info-div tr td:first-child[colspan="2"] {
    padding-bottom: 2rem;
  }

  .wrapper-contact-info-div tr td+td {
    padding-top: 0;
  }
}

.ct-section {
  margin-top: 100px;

  h1 {
    position: relative;
    font-size: 2.8rem;
    font-weight: 600;
    padding-left: 23px;
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 50px;
      background-color: #000;
    }
  }

  h3 {
    font-size: 18px;
    margin-left: 50px;
  }

  .article_list_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 50px;

    @include mq('sp') {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 0;
    }

    .article_post_wrap {
      padding-bottom: 100px;
      position: relative;
      border-bottom: 1px solid #ededf0;

      &:hover::after {
        transform: scale(1);
        transform-origin: left top;
      }

      &::after {
        background-color: #28294F;
        bottom: -1px;
        content: "";
        display: inline-block;
        height: 1px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right top;
        transition: transform 0.4s cubic-bezier(0.43, 0.05, 0.17, 1);
        width: 100%;
      }

      .image_box {
        img {
          height: 100%;
        }
      }

      .inner {
        margin-top: 20px;
        padding-bottom: 30px;
        padding: 15px 0px 20px;

        h2 {
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 10px;
        }

        .cmn-button {
          margin: 0 auto;
          display: table;
          position: absolute;
          bottom: 30px;
          right: 0;
          left: 0;
        }

        .event_date {
          margin: 10px 0;
          font-size: 12px;
        }
      }
    }
  }
}

.swiper-container {
  position: relative;

  &.swiper-container-initialized {
    padding-bottom: 50px;

    @include mq('sp') {
      padding-bottom: 50px;
    }
  }

  .swiper-wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

    .swiper-slide {
      /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
      color: #ffffff;
      display: flex;
      gap: 50px;

      @include mq('sp') {
        display: grid;
        gap: 20px;
      }

      .image_box {
        width: 30%;

        @include mq('sp') {
          width: 80%;
        }

        img {
          height: 100%;
        }
      }

      .inner {
        width: 70%;

        .article_title {
          margin: 20px 0;
        }

        .event_date {
          margin: 20px 0;
        }
      }
    }

    .swiper-pagination {
      bottom: 0;
    }

    .swiper-pagination-bullets {
      position: static;
      margin-top: 16px;
    }

    .swiper-pagination-bullet {
      width: 12px !important;
      height: 12px !important;
      margin: 0 0 0 10px !important;
      background: #333 !important;
    }

    .swiper-pagination-bullet:first-child {
      margin: 0 !important;
    }

  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -50px;
  }
}

.category-02 {
  margin-bottom: 11.7rem;

  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.8;
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  // opacity: 0.2;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background: #28294F !important;
}