.guide-list {
  width: 100%;
  height: 320px;
  background-color: #ededf0;
  padding-bottom: 40px;
}
@media (max-width: 980px) {
  .guide-list {
    height: auto;
  }
}
.guide-list__inner {
  display: flex;
  padding-top: 45px;
}
@media (max-width: 980px) {
  .guide-list__inner {
    display: block;
  }
}
.guide-list__left {
  width: 30%;
}
@media (max-width: 980px) {
  .guide-list__left {
    width: 100%;
  }
}
.guide-list__ttl {
  position: relative;
  font-size: 2.8rem;
  font-weight: 600;
  padding-left: 23px;
  margin-bottom: 40px;
}
@media (max-width: 475px) {
  .guide-list__ttl {
    font-size: 2rem;
  }
}
.guide-list__ttl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 50px;
  background-color: #000;
}
@media (max-width: 475px) {
  .guide-list__ttl::before {
    height: 35px;
    width: 2px;
  }
}
.guide-list__right {
  width: 70%;
}
@media (max-width: 980px) {
  .guide-list__right {
    width: 100%;
  }
}
.guide-list__wrap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  height: 320px;
}
@media (max-width: 980px) {
  .guide-list__wrap {
    display: block;
    height: auto;
  }
}
.guide-list__item {
  width: 33%;
}
@media (max-width: 980px) {
  .guide-list__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 15px;
  }
}
.guide-list__link {
  position: relative;
  display: flex;
}
.guide-list__link::after {
  background-color: #28294F;
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right top;
  transition: transform 0.4s cubic-bezier(0.43, 0.05, 0.17, 1);
  width: 80%;
}
.guide-list__link:hover::after {
  transform: scale(1);
  transform-origin: left top;
}
.guide-list__img {
  max-width: 125px;
}
@media (max-width: 980px) {
  .guide-list__img {
    max-width: 140px;
  }
}
.guide-list__txt-wrap {
  display: table;
}
@media (max-width: 980px) {
  .guide-list__txt-wrap {
    display: block;
    padding-top: 22px;
  }
}
.guide-list__txt {
  font-size: 1.8rem;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 25px;
}
@media (max-width: 980px) {
  .guide-list__txt {
    vertical-align: inherit;
  }
}
.guide-list__txt-en {
  display: none;
}
@media (max-width: 980px) {
  .guide-list__txt-en {
    display: block;
    padding-left: 25px;
    letter-spacing: 1px;
  }
}

@media (max-width: 475px) {
  .footer {
    border: 1px solid #ededf0;
  }
}
.footer-top {
  padding-top: 55px;
  padding-bottom: 35px;
  border-bottom: 1px solid #EDEDF0;
}
.footer-top__inner {
  display: flex;
}
@media (max-width: 980px) {
  .footer-top__inner {
    display: block;
  }
}
.footer-top__img {
  max-width: 218px;
  display: inline-block;
}
@media (max-width: 980px) {
  .footer-top__img {
    margin: 0 auto 74px;
  }
}
.footer-top__left {
  width: 50%;
}
@media (max-width: 980px) {
  .footer-top__left {
    width: 100%;
    text-align: center;
  }
}
.footer-top__right {
  width: 50%;
}
@media (max-width: 980px) {
  .footer-top__right {
    width: 100%;
  }
}
.footer-top__right-list {
  display: flex;
  justify-content: right;
  padding-left: 0;
}
@media (max-width: 980px) {
  .footer-top__right-list {
    display: block;
  }
}
.footer-top__right-item {
  border: 1px solid #333;
  display: table;
  margin-left: 27px;
}
@media (max-width: 980px) {
  .footer-top__right-item {
    margin-left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
  }
}
.footer-top__right-link {
  width: 230px;
  height: 55px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media (max-width: 980px) {
  .footer-top__right-link {
    width: 100%;
    max-width: 500px;
    display: grid;
    align-items: center;
  }
}
.footer-bottom {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-bottom__item {
  font-size: 1.6rem;
}
.footer-bottom__inner {
  display: flex;
  padding-left: 0;
}
@media (max-width: 980px) {
  .footer-bottom__inner {
    flex-wrap: wrap;
  }
}
.footer-bottom__list {
  margin-right: 70px;
}
@media (max-width: 980px) {
  .footer-bottom__list {
    width: 50%;
    margin-right: 0;
    padding-left: 20px;
  }
  .footer-bottom__list:nth-child(1) {
    order: 1;
  }
  .footer-bottom__list:nth-child(2) {
    order: 3;
  }
  .footer-bottom__list:nth-child(3) {
    order: 2;
  }
}
.footer-bottom__item {
  display: block;
  margin-bottom: 15px;
}
.footer-copy {
  width: 100%;
  text-align: right;
  padding-bottom: 30px;
}
.footer-copy__txt {
  font-size: 1.2rem;
}
@media (max-width: 475px) {
  .footer-copy__txt {
    font-size: 1rem;
    letter-spacing: 0;
  }
}/*# sourceMappingURL=footer.css.map */