.header-back {
  background-color: rgba(50, 50, 50, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
}

.header-back.bg-right {
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  padding-bottom: 30px;
  transition: all 0.3s linear;
  z-index: 9996;
}
@media (max-width: 980px) {
  .header {
    z-index: 100;
  }
}
.header-inner {
  display: flex;
  width: 100%;
  padding: 30px 35px 0 50px;
  align-items: center;
  z-index: 9998;
}
@media (max-width: 980px) {
  .header-inner {
    padding-left: 0;
    padding-right: 0;
  }
}
.header-logo {
  margin-left: 15px;
}
.header-logo__img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 475px) {
  .header-logo__img {
    height: 30px;
  }
}
.header-nav {
  width: 100%;
}
.header-nav.open {
  left: 0;
  transition: all 0.6s;
}
@media (max-width: 980px) {
  .header-nav {
    position: fixed;
    width: calc(100% - 80px);
    height: 100vh;
    left: -100%;
    top: 0;
    transition: all 0.6s;
    background-color: #EDEDF0;
    z-index: 9997;
    overflow: hidden;
  }
}
.header-nav__inner {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  align-items: center;
}
@media (max-width: 980px) {
  .header-nav__inner {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    transform: translate(-50%, -50%);
  }
}
.header-nav__item {
  display: inline;
  color: #ffffff;
  margin-right: 30px;
}
.header-nav__item:nth-child(8) {
  margin-right: 0;
  padding-top: 30px;
}
@media (max-width: 980px) {
  .header-nav__item:nth-child(8) {
    padding-top: 0;
  }
}
@media (max-width: 980px) {
  .header-nav__item {
    padding-top: 0;
  }
}
.header-nav .has-sub-menu .sub-menu {
  opacity: 0;
  transition: 0.4s;
  pointer-events: none;
  position: absolute;
  width: 100vw;
  top: 100px;
  left: 0;
  padding: 0;
  padding-top: 35px;
  margin-top: -35px;
}
.header-nav .has-sub-menu .sub-menu:hover {
  opacity: 1;
}
.header-nav .has-sub-menu .sub-menu:hover .header-back {
  opacity: 1;
}
.header-nav .has-sub-menu .sub-menu_back {
  background: #fff;
}
.header-nav .has-sub-menu .sub-menu_flex {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  padding: 50px 0;
}
.header-nav .has-sub-menu .sub-menu_flex_link {
  position: relative;
  font-size: 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 10px;
  border-bottom: 1px solid #EDEDF0;
  background-image: linear-gradient(#28294F, #28294F);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  display: inline;
  transition: background-size 0.5s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;
}
.header-nav .has-sub-menu .sub-menu_flex_link:hover {
  background-position: 0 100%;
  background-size: 100% 1px;
}
.header-nav .has-sub-menu .sub-menu_flex_link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: right center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scale(0, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.05, 1);
  background: #000;
}
.header-nav .has-sub-menu .sub-menu_flex_link:after {
  content: "";
  position: absolute;
  z-index: 4;
  top: 11px;
  right: 10px;
  display: inline-block;
  width: 25px;
  height: 4px;
  transform: skew(74deg);
  border-right: 3px solid #000;
  border-bottom: 1px solid #000;
}
.header-nav .has-sub-menu .sub-menu_flex_left {
  width: 22%;
  padding-right: 80px;
}
.header-nav .has-sub-menu .sub-menu_flex_left h2 {
  font-size: 20px;
}
.header-nav .has-sub-menu .sub-menu_flex_left .sub-menu_flex_link {
  display: block;
  margin-top: 10px;
}
.header-nav .has-sub-menu .sub-menu_flex_center {
  width: 66%;
  padding: 0 30px;
  border-left: 1px solid #EDEDF0;
  border-right: 1px solid #EDEDF0;
}
.header-nav .has-sub-menu .sub-menu_flex_center_flex {
  display: flex;
  gap: 30px;
}
.header-nav .has-sub-menu .sub-menu_flex_center_flex_item .img-wrap {
  overflow: hidden;
}
.header-nav .has-sub-menu .sub-menu_flex_center_flex_item .img-wrap img {
  transition: 1s all;
}
.header-nav .has-sub-menu .sub-menu_flex_center_flex_item .img-wrap img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s all;
}
.header-nav .has-sub-menu .sub-menu_flex_center_flex_item p {
  margin-top: 10px;
  font-size: 14px;
}
.header-nav .has-sub-menu .sub-menu_flex_right {
  width: 16%;
  padding-left: 20px;
  display: grid;
}
@media (min-width: 769px) {
  .header-nav .header-nav__inner > .has-sub-menu:hover ul {
    pointer-events: initial;
    opacity: 1;
  }
}
.header-nav__link {
  display: table;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 980px) {
  .header-nav__link {
    color: #000000;
  }
}
.header-nav__link._box {
  width: 160px;
  height: 35px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #fff;
}
@media (max-width: 980px) {
  .header-nav__link._box {
    width: inherit;
    height: inherit;
    text-align: inherit;
    display: block;
    vertical-align: inherit;
    border: inherit !important;
  }
}
.header.is-bk {
  background-color: #fff;
  transition: all 0.3s linear;
  border-bottom: 1px solid #ededf0;
}
.header.is-bk .header-nav__link {
  color: #28294F;
}
.header.is-bk .header-nav__link._box {
  border: 1px solid #28294F;
}
.header.is-bk .header-nav__link._box:hover {
  transition: all 0.3s linear;
}
.header.is-bk .header-nav__link._box:hover::before {
  background-color: #28294F;
}
.header.is-bk .header-nav__link._box:hover {
  color: #ffffff;
}

.hamburger {
  display: none;
}
@media (max-width: 980px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 60px;
    z-index: 9999;
  }
  .hamburger span {
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: all 0.5s;
  }
  .hamburger span:nth-of-type(1) {
    top: 10px;
  }
  .hamburger span:nth-of-type(2) {
    top: 23px;
  }
  .hamburger span:nth-of-type(3) {
    top: 38px;
  }
  .hamburger span.ham-blue {
    background-color: #28294F;
  }
  .hamburger.active {
    transition: all 0.5s;
  }
  .hamburger.active span {
    transition: all 0.5s;
  }
  .hamburger.active span:nth-of-type(1) {
    top: 15px;
    transform: translateY(6px) rotate(-45deg);
  }
  .hamburger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-of-type(3) {
    top: 27px;
    transform: translateY(-6px) rotate(45deg);
  }
}

.mask {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=header.css.map */