.ceo-message {
  padding-top: 230px;
}
@media (max-width: 980px) {
  .ceo-message {
    padding-top: 180px;
  }
}
@media (max-width: 475px) {
  .ceo-message {
    padding-top: 140px;
  }
}
.ceo-message-content {
  margin-bottom: 100px;
}
@media (max-width: 980px) {
  .ceo-message-content {
    margin-bottom: 75px;
  }
}
@media (max-width: 475px) {
  .ceo-message-content {
    margin-bottom: 50px;
  }
}
.ceo-message-content__mv {
  margin-bottom: 132px;
}
@media (max-width: 980px) {
  .ceo-message-content__mv {
    margin-bottom: 50px;
  }
}
.ceo-message-content__mv-img {
  margin-left: -40px;
  width: calc(100% + 80px);
  max-width: inherit;
  display: block;
}
@media (max-width: 980px) {
  .ceo-message-content__mv-img {
    display: none;
  }
}
.ceo-message-content__mv-imgSp {
  display: none;
}
@media (max-width: 980px) {
  .ceo-message-content__mv-imgSp {
    display: block;
    max-width: inherit;
    margin-left: -15px;
    width: calc(100% + 30px);
  }
}
.ceo-message-content__border {
  position: relative;
}
.ceo-message-content__border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #ededf0;
}
@media (max-width: 980px) {
  .ceo-message-content__border::after {
    width: 85%;
    margin: 0 auto;
    left: 11%;
  }
}
@media (max-width: 475px) {
  .ceo-message-content__border::after {
    width: 80%;
    left: 16%;
  }
}
@media (max-width: 475px) {
  .ceo-message-content__border._max::after {
    width: 100%;
    left: 0;
  }
}
.ceo-message-content__icon {
  position: relative;
}
.ceo-message-content__icon::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -75px;
  background-image: url(../img/message/message02.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 62px;
  height: 52px;
  display: block;
}
@media (max-width: 980px) {
  .ceo-message-content__icon::before {
    left: 0;
  }
}
@media (max-width: 475px) {
  .ceo-message-content__icon::before {
    width: 40px;
    height: 35px;
  }
}
.ceo-message-content__inner {
  padding-top: 57px;
}
.ceo-message-content__ttl {
  text-align: left;
  margin-left: -40px;
  margin-bottom: 70px;
}
.ceo-message-content__ttl br {
  display: none;
}
@media (max-width: 980px) {
  .ceo-message-content__ttl {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
@media (max-width: 475px) {
  .ceo-message-content__ttl {
    margin-left: 0;
    margin-bottom: 50px;
  }
  .ceo-message-content__ttl br {
    display: block;
  }
}
.ceo-message-content__txt {
  text-align: left;
  margin-bottom: 50px;
}
@media (max-width: 980px) {
  .ceo-message-content__txt {
    margin-bottom: 45px;
  }
}
@media (max-width: 475px) {
  .ceo-message-content__txt {
    margin-bottom: 40px;
  }
}
.ceo-message-content__list {
  padding-left: 0;
}
.ceo-message-content__item {
  margin-bottom: 92px;
}
@media (max-width: 980px) {
  .ceo-message-content__item {
    display: block;
    margin-bottom: 62px;
  }
}
@media (max-width: 980px) {
  .ceo-message-content__item {
    margin-bottom: 52px;
  }
}
.ceo-message-content__item-ttl {
  font-size: 2.1rem;
  margin-bottom: 35px;
}
.ceo-message-content__item-ttl br {
  display: none;
}
@media (max-width: 475px) {
  .ceo-message-content__item-ttl {
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6rem;
    letter-spacing: 0;
    padding-left: 30px;
  }
  .ceo-message-content__item-ttl br {
    display: block;
  }
}
.ceo-message-content__item-txt {
  padding-top: 35px;
  padding-left: 60px;
}
@media (max-width: 475px) {
  .ceo-message-content__item-txt {
    padding-left: 35px;
    padding-top: 20px;
  }
}
.ceo-message-content__item-bold {
  font-weight: 600;
}
.ceo-message-content__right {
  text-align: right;
}
.ceo-message-content__padding-left-clear {
  padding-left: 0;
}
.ceo-message-content__num {
  font-family: minion-pro, serif;
  font-size: 3.2rem;
  margin-right: 20px;
}
@media (max-width: 980px) {
  .ceo-message-content__num {
    font-size: 2.6rem;
    margin-right: 5px;
  }
}
@media (max-width: 475px) {
  .ceo-message-content__num {
    position: absolute;
    top: -7px;
    left: 0;
  }
}
.ceo-message-content__padd {
  padding-top: 5px;
}
.ceo-message-content__img {
  margin: 0 auto;
}
.ceo-message-content__img:nth-of-type(2) {
  margin-left: 20px;
}
@media (max-width: 980px) {
  .ceo-message-content__img {
    display: none;
  }
}
.ceo-message-content__img-wrap {
  position: relative;
  top: -20px;
  margin-left: 3%;
}
@media (max-width: 980px) {
  .ceo-message-content__img-wrap {
    position: inherit;
    top: 0;
    margin-left: 0;
  }
}
.ceo-message-content__imgSp {
  display: none;
  width: calc(100% + 30px);
  max-width: inherit;
  margin-left: -15px;
}
@media (max-width: 980px) {
  .ceo-message-content__imgSp {
    display: block;
  }
}
.ceo-message-content__box {
  display: inline-block;
  width: 70px;
  height: 22px;
  line-height: 22px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #28294F;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
}
.ceo-message-content__box-pdb {
  margin-bottom: 70px;
}
.ceo-message-content__message {
  font-size: 2.8rem;
  font-weight: 600;
}
.ceo-message-content__message br {
  display: none;
}
@media (max-width: 475px) {
  .ceo-message-content__message br {
    display: block;
  }
}
.ceo-message-content__links {
  display: flex;
  text-align: center;
}
@media (max-width: 980px) {
  .ceo-message-content__links {
    display: block;
  }
}
.ceo-message-content__links-left {
  width: 50%;
}
@media (max-width: 980px) {
  .ceo-message-content__links-left {
    width: 100%;
    margin-bottom: 100px;
  }
}
.ceo-message-content__links-right {
  width: 50%;
}
@media (max-width: 980px) {
  .ceo-message-content__links-right {
    width: 100%;
  }
}
.ceo-message-content__links-txt {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}
@media (max-width: 475px) {
  .ceo-message .ceo-message-content__item-txt.ceo-message-content__padding-left-clear {
    padding-top: 0;
  }
  .ceo-message .ceo-message-content__item-txt.ceo-message-content__item-bold.ceo-message-content__padding-left-clear.ceo-message-content__right {
    padding-top: 20px;
  }
}/*# sourceMappingURL=page-ceo_message.css.map */