@import '_func';

.management-members {
    padding-top: calc(140px + 90px);

    @include mq('tab') {
        padding-top: calc(90px + 90px);
    }

    @include mq('sp') {
        padding-top: calc(50px + 90px);
    }

    &-content {
        margin-bottom: 100px;

        @include mq('tab') {
            // margin-bottom: 0;

        }

        &__mv {
            margin-bottom: 132px;

            @include mq('tab') {
                margin-bottom: 50px;
            }

            &-img {
                margin-left: -40px;
                width: calc(100% + 80px);
                max-width: inherit;

                @include mq('tab') {
                    margin-left: -15px;
                    width: calc(100% + 30px);
                }
            }
        }

        &__inner {
            display: flex;

            @include mq('tab') {
                display: block;
            }
        }

        &__left {
            width: 50%;

            @include mq('tab') {
                width: 100%;
            }

            &.low-left {
                padding-right: 37px;

                @include mq('tab') {
                    padding-right: 0;
                }
            }
        }

        &__right {
            width: 50%;
            padding-left: 20px;

            @include mq('tab') {
                width: 100%;
                margin-top: 30px;
            }

            @include mq('tab') {
                padding-left: 0;
            }

            &.low-right {
                padding-left: 37px;

                @include mq('tab') {
                    padding-left: 0;
                }
            }
        }

        &__img {
            @include mq('tab') {
                margin: 0 auto;
            }
        }

        &__cap {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 10px;

            &.low-cap {
                margin-top: 50px;
            }
        }

        &__name {
            font-size: 2.1rem;
            font-weight: 600;
            margin-bottom: 10px;

            &-en {
                font-size: 1.6rem;
                margin-left: 32px;
            }
        }

        &__txt {
            margin-top: 35px;
            font-size: 1.4rem;

            &-wrap {
                padding-left: 13px;

                &.pd30 {
                    margin-top: 30px;
                }
            }

            &-s {
                position: relative;
                font-size: 1.2rem;
                margin-top: 10px;
                letter-spacing: 0.9px;

                &::before {
                    content: "◆";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -13px;
                }
            }

            &-sm {
                font-size: 1.2rem;

                @include mq('tab') {
                    letter-spacing: 0;
                }

                @include mq('sp') {
                    font-size: 1.2rem;
                }
            }
        }

        &__icon {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -25px;
                left: -75px;
                background-image: url(../img/message/message02.png);
                width: 62px;
                height: 52px;
                display: block;

                @include mq('tab') {
                    left: 0;
                }
            }
        }

        &__ttl {
            text-align: left;
            margin-left: -40px;
            margin-bottom: 70px;

            @include mq('tab') {
                margin-left: 0;
            }
        }

        &__item {
            margin-bottom: 92px;

            @include mq('tab') {
                display: block;
            }

            &-ttl {
                font-size: 2.1rem;
                margin-bottom: 35px;
            }

            &-txt {
                padding-top: 35px;
                padding-left: 60px;
            }
        }

        &__padding-left-clear {
            padding-left: 0;
        }

        &__num {
            font-size: 3.2rem;
        }

        &__padd {
            padding-top: 5px;
        }
    }
}