
    /* ページタイトル関係 */
    .page_heading {
        padding-top: 20rem;
        padding-bottom: 7rem;
        }

    .page_heading_jp {
        margin-left: 13rem;
        font-size: 5.5rem;
        color: midnightblue;
    }

    .page_heading_en {
        margin-left: 23rem;
        font-size: 2rem;
    }

/* 問い合わせエリア */
main .contact {
	background-color: #28294F;
	margin-top: 10rem;
}
.container-m {
    max-width: 1000px;
    margin: 0 auto;
}
main .contact-content {
    padding-top: 65px;
    padding-bottom: 55px;
    text-align: center;
}
main .contact-content__ttl {
    color: #ffffff;
}

h3.contact-content__ttl {
    font-size: 3.2rem;
    letter-spacing: 3px;
}
main .contact-content__txt {
    margin-top: 25px;
    margin-bottom: 55px;
    color: #ffffff;
}



/* ボタン関係 */
.cmn-button {
    display: inline-block;
    position: relative;
    transition: all 0.5s;
}
.cmn-button__white {
    border: 1px solid #fff;
    color: #fff;
}
.cmn-button__slide {
    position: relative;
}
.cmn-button__link-white {
    color: #ffffff;
}
.cmn-button__link-m {
    width: 230px;
    height: 55px;
    display: inline-block;
    line-height: 55px;
    text-align: center;
}
.cmn-button__link {
    font-size: 1.5rem;
}
.cmn-button__slide-white::before {
    background-color: #fff;
}
.cmn-button__slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    transform-origin: right center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale(0, 1);
    transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.05, 1);
}